  <nav>
    <div class="nav-wrapper">
      <b style="font-size: 30px;">Chat Application</b>
      
       <div style="float: right;font-size:20px; ">
    Welcome: {{name}}
  </div>
    </div>
  </nav>
 


  <div id="chat">
    <div id="chat-window">
      <div id="output">
        
      </div>
      <div id="feedback"></div>
    </div>
    <div>
    <input style="width:450px;" type="text" id="message" placeholder="Type your message here!!!" ng-model="message" ng-keypress="typing()">
        <span><button class="btn waves-effect waves-light" type="submit" id="send" ng-click="sendMessage()">Send<i class="material-icons right">send</i></button></span>
    </div>
  </div>